<%- include("partials/header.ejs") %>



    <div class="mid-element">


            <div id="ring1" class="glow-ring"></div>
            <div id="ring2" class="glow-ring"></div>
            <div id="ring3" class="glow-ring"></div>
            <div id="ring4" class="glow-ring"></div>
            <div id="ring5" class="glow-ring"></div>
            <div id="ring6" class="glow-ring"></div>
            <div id="ring7" class="glow-ring"></div>


            
            <div id="btn-con" class="container justify-content-center flex-row text-center mx-auto">
                <div class="row justify-content-center">
                <form id="generate_book" action="/book" method="POST">
                    <!-- to add id <input> -->
                    <button id="dark_romance" class="choice col-5" type="submit" name="genre" value="dark_romance">Dark Romance</button>
                    <button id="romantasy" class="choice col-5" type="submit"  name="genre" value="fiction_romance_fantasy">Romantasy</button>
                    <div class="w-100 d-none d-md-block"></div>
                    <button id="young_adult" class="choice col-5" type="submit"  name="genre" value="young_adult_fiction">Young Adult</button>
                    <button id="psychological_horror" class="choice col-5" type="submit" name="genre" value="fiction_thrillers_psychological">Psycological Thriller</button>
                 </form>
                 </div>
            </div>

            


            nextt 
    </div>
        

<%- include("partials/footer.ejs") %>