<%- include("partials/header.ejs") %>



    <div class="mid-element">

        <div class="glow-ring"></div>

            BOOKTOK 
            <div id="btn-con" class="container justify-content-center flex-row text-center">
                <div class="row justify-content-center">
                <form id="generate_book" action="/book" method="POST">
                    <!-- to add id <input> -->
                    <button id="dark_romance" class="choice col-3" type="submit" name="genre" value="dark_romance">Dark romance</button>
                    <button class="choice col-3" name="genre">Romantasy</button>
                    <div class="w-100 d-none d-md-block"></div>
                    <button class="choice col-3" name="genre">Young Adult</button>
                    <button class="choice col-3" name="genre">Psycological Thriller</button>
                 </form>
                 </div>
            </div>
        </div>



<%- include("partials/footer.ejs") %>