/* HEADER CSS */
.header,
.header a {
    color: #8c2f39 !important;
}

.header{
    background-color: white;
    z-index: 10; 
}

/* MIDDLE ELEMENT */

.mid-element{

    background-image: linear-gradient(to right, #1c1b33, #a45c6c);
    position: relative;
    width: 100%; /* Ensures it spans the full width */
    padding:20px;
    overflow: hidden; /* Clips anything going outside */

}
/* BUTTON STYLES */

.choice{   
    margin: 3%;
    border-radius: 15px;
    padding: 32px;
    border: 0px solid rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.8);
    letter-spacing: 2px;

}
.choice:hover {
  
    filter: brightness(0.7); /* Darken the image on hover */
    color: rgba(255, 255, 255, 1); /* Make text fully white */
    transform: scale(1.05); /* Slight zoom-in effect */
  }

#btn-con{
    margin-top: 5%;
    margin-bottom: 15%;
    width: 70%; /* Adjust the width (try 40% or 30% if needed) */
    max-width: 1300px; /* Prevent it from being too large on bigger screens */
    color: #fff;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    width: 100%;
    border-radius: 15px;
    padding: 32px;
    backdrop-filter: blur(10px);

}

#dark_romance{        
        background: url("/images/dark_romance.jpg") no-repeat center center;
        background-size: cover; /* Ensures image fills the button */       
}

#romantasy{
    background: url("/images/romantasy.jpg") no-repeat center center;
    background-size: cover; /* Ensures image fills the button */      
}

#young_adult{
    background: url("/images/young_adult.jpg") no-repeat center center;
    background-size: cover; /* Ensures image fills the button */
}

#psychological_horror{
    background: url("/images/psychological_horror.png") no-repeat center center;
    background-size: cover; /* Ensures image fills the button */
}



/* GLOWING RING CSS */

.glow-ring{
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 140, 0, 0.897), transparent);
    box-shadow: 0 0 20px rgba(140, 0, 255, 0.8),
                0 0 40px rgba(255, 0, 234, 0.959);
    transform: translateX(-50%);
    animation: rotateGlow 3s infinite linear;
}

#ring1{
    position: absolute; /* Keeps it in normal document flow */
    width: 200px;
    height: 200px;
    top: 50%;
    left: 80%;
}

#ring2{
    width: 200px;
    height: 200px;
    position: absolute; /* Keeps it in normal document flow */
    top: -3%;
    left: 2%;
    z-index: 1; /* Keeps it below the header */
}

#ring3{
    position: absolute;
    top: 80%;
    left: 15%;
    width: 100px;
    height: 100px;
}

#ring4{
    position: absolute;
    top: 15%;
    left: 15%;
    width: 75px;
    height: 75px;
}

#ring5{
    position: absolute;
    top: -5%;
    left: 70%;
    width: 100px;
    height: 100px;
}

#ring6{
    position: absolute;
    top: 45%;
    left: 50%;
    width: 150px;
    height: 150px;
}


#ring7{
    position: absolute;
    top: 78%;
    left: 95%;
    width: 250px;
    height: 250px;
}

