

h1{
    font-family: "Dancing Script", serif;
     
}
h3{
    font-family: "Lora", serif;
    
}
p{
    font-family: "Lora", serif;
}




body{
    margin: 0;
    padding: 0;
    background: url("/images/background6.jpg") no-repeat center center;
    align-items: center;
    justify-content: center;
    background-size: cover;
    display: flex;
}

#content-box{
    
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgb(252, 251, 251);
    text-align: center;
}



/* HEADER CSS */
.header,
.header a {
    color: #E6C2BF !important;
    height: auto;
    font-family: "Dancing Script", serif;
    font-size: xx-large;
}

.header{
    background-color: #4A001F;
    z-index: 10; 
}


.footer{
    background-color:#E6C2BF ;
    height: auto;
    font-size: x-large;
}
/* SEARCH ELEMENT */

.search-img{
    width: 100%;
  height: auto;
}

#search-section{
    height: auto;
    background-color: rgb(230, 194, 191); 
}

.search-bar-container{
    position: relative;
}

.search-bar{
    background-color: transparent !important;
    border: 1px #E6C2BF !important;
    box-shadow: 0 0 8px #E6C2BF !important;
    color: #E6C2BF !important;
    margin-left: 10px !important;
    padding: 10px !important;

}

.search-bar:focus{
    box-shadow: 0 0 8px #FF4D6D !important;
    border: 1px #FF4D6D !important;
    font-size: large;

}

.search-bar::placeholder {
    color: #E6C2BF !important; /* Light placeholder text */
    font-size: large;
}

.input-group{
    font-family: "Lora", serif;
}

.mag-img{
    margin-top:10px;
}


.search-element{
    padding: 30px ;
}
 
  .rose-design {
    position: absolute;
    left: 30px;  /* Adjust based on how you want the rose to appear */
  }
  
 

/* MIDDLE ELEMENT */

.mid-element{

    /* background-image: linear-gradient(to right, #4A001F, #a45c6c); */
    /* background: linear-gradient(135deg, #4A001F, #3A2C32); */

    background-color: #4A001F;
    position: relative;
    width: 100%; /* Ensures it spans the full width */
    padding:20px;
    height:auto;
    overflow: hidden; /* Clips anything going outside */

}


#btn-con {
    margin-top: 2%;
    margin-bottom: 15%;
    padding: 5vh;
    color: #E6C2BF;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    gap: 15px; /* Adds space between the cards */
}
/* BUTTON STYLES */

.btn_row{
    margin-top: 5px;
}

.btn-text {
    background-color:#1C0D12;
    /* border-radius: 5px; Optional: rounded corners */
    display: inline-block; /* Prevent full-width background */
    color: #E6C2BF;
}

.btn-header{
    background-color: hsla(340, 37%, 8%, 0.753);
    padding: 3px;
}
.card-text{
    color: #E6C2BF; 
    font-size: larger;
}


.card {
    justify-content: space-between; /* Ensures space between the button and text */
    flex: 1; /* Ensures the cards fill available space evenly */
    margin-bottom: 15px; /* Adds bottom margin */
}

.choice {
    
   
    border: none; 
    color: #E6C2BF; 
    font-size: x-large;
    letter-spacing: 2px; 
    background-size: cover; 
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
    text-align: center; /* Centers the text */
    height: 30vh; /* Make sure the button fills the height of its container */
}

.choice:hover {
    filter: brightness(0.7); /* Darken the image on hover */
    color: rgba(255, 255, 255, 1); /* Make text fully white */
    transform: scale(1.05); /* Slight zoom-in effect */
}


#dark_romance {
    background: url("/images/background2.jpg") no-repeat center center;
    background-size: cover; /* Ensures image fills the div */
}

#romantasy{
    background: url("/images/romantic_fantasy.jpg") no-repeat center center;
    background-size: cover;    
}

#young_adult{
    background: url("/images/young_adult.jpg") no-repeat center center;
    background-size: cover; 
}

#psychological_horror{
    background: url("/images/psychological_horror.png") no-repeat center center;
    background-size: cover; 
}



/* GLOWING RING CSS */

.glow-ring{
    border-radius: 50%;
    background: radial-gradient(circle,  #F7E1D7, transparent);
    box-shadow: 0 0 20px #9E758F,
                0 0 40px #E6C2BF;
    transform: translateX(-50%);
    animation: rotateGlow 3s infinite linear;
}

#ring1{
    position: absolute; /* Keeps it in normal document flow */
    width: 200px;
    height: 200px;
    top: 50%;
    left: 80%;
}

#ring2{
    width: 200px;
    height: 200px;
    position: absolute; /* Keeps it in normal document flow */
    top: -3%;
    left: 2%;
    z-index: 1; /* Keeps it below the header */
}

#ring3{
    position: absolute;
    top: 80%;
    left: 15%;
    width: 100px;
    height: 100px;
}

#ring4{
    position: absolute;
    top: 15%;
    left: 15%;
    width: 75px;
    height: 75px;
}

#ring5{
    position: absolute;
    top: -5%;
    left: 70%;
    width: 100px;
    height: 100px;
}

#ring6{
    position: absolute;
    top: 45%;
    left: 50%;
    width: 150px;
    height: 150px;
}


#ring7{
    position: absolute;
    top: 78%;
    left: 95%;
    width: 250px;
    height: 250px;
}

#ring8{
    position: absolute;
    top: 70%;
    left: 40%;
    width: 150px;
    height: 150px;
}
#ring9{
    position: absolute;
    top: 10%;
    left: 90%;
    width: 100px;
    height: 100px;
}


/* BOOK PAGE CSSS */
#book-page-middle{
    background-color: #E6C2BF;
}